<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.testDemo.springMVC.mapper.WsUrRoleMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.testDemo.springMVC.entity.WsUrRole">
        <id column="wsUrRoleId" property="wsUrRoleId" jdbcType="INTEGER"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="rank" property="rank" jdbcType="INTEGER"/>
        <result column="LEVEL" property="LEVEL" jdbcType="INTEGER"/>
        <result column="adminType" property="adminType" jdbcType="TINYINT"/>
        <result column="mainUserId" property="mainUserId" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        wsUrRoleId, parentId, `name`, code, `rank`, `LEVEL`, adminType, mainUserId, createTime,
        version
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ws_ur_role
        where wsUrRoleId = #{wsUrRoleId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from ws_ur_role
        where wsUrRoleId = #{wsUrRoleId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.demo.testDemo.springMVC.entity.WsUrRole">
        <selectKey resultType="java.lang.Integer" keyProperty="wsUrRoleId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ws_ur_role (parentId, `name`, code,
        `rank`, `LEVEL`, adminType,
        mainUserId, createTime, version
        )
        values (#{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
        #{rank,jdbcType=INTEGER}, #{LEVEL,jdbcType=INTEGER}, #{adminType,jdbcType=TINYINT},
        #{mainUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.example.demo.testDemo.springMVC.entity.WsUrRole">
        <selectKey resultType="java.lang.Integer" keyProperty="wsUrRoleId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ws_ur_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parentId,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="rank != null">
                `rank`,
            </if>
            <if test="LEVEL != null">
                `LEVEL`,
            </if>
            <if test="adminType != null">
                adminType,
            </if>
            <if test="mainUserId != null">
                mainUserId,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                #{rank,jdbcType=INTEGER},
            </if>
            <if test="LEVEL != null">
                #{LEVEL,jdbcType=INTEGER},
            </if>
            <if test="adminType != null">
                #{adminType,jdbcType=TINYINT},
            </if>
            <if test="mainUserId != null">
                #{mainUserId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.testDemo.springMVC.entity.WsUrRole">
        update ws_ur_role
        <set>
            <if test="parentId != null">
                parentId = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                `rank` = #{rank,jdbcType=INTEGER},
            </if>
            <if test="LEVEL != null">
                `LEVEL` = #{LEVEL,jdbcType=INTEGER},
            </if>
            <if test="adminType != null">
                adminType = #{adminType,jdbcType=TINYINT},
            </if>
            <if test="mainUserId != null">
                mainUserId = #{mainUserId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
        </set>
        where wsUrRoleId = #{wsUrRoleId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.demo.testDemo.springMVC.entity.WsUrRole">
        update ws_ur_role
        set parentId = #{parentId,jdbcType=INTEGER},
        `name` = #{name,jdbcType=VARCHAR},
        code = #{code,jdbcType=VARCHAR},
        `rank` = #{rank,jdbcType=INTEGER},
        `LEVEL` = #{LEVEL,jdbcType=INTEGER},
        adminType = #{adminType,jdbcType=TINYINT},
        mainUserId = #{mainUserId,jdbcType=INTEGER},
        createTime = #{createTime,jdbcType=TIMESTAMP},
        version = #{version,jdbcType=INTEGER}
        where wsUrRoleId = #{wsUrRoleId,jdbcType=INTEGER}
    </update>
</mapper>